* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  text-decoration: none;
}

:root {
  font-size: 62.5%;

  --font-primary: 'Archivo', sans-serif;
  --font-secondary: 'Tenor Sans', sans-serif;

  --background-btn: hsla(304, 27%, 78%, 1);
  --background-btn-hover: rgb(158, 96, 154);

  --background-one: hsla(0, 0%, 100%, 1);

  --font-color-one: hsla(0, 0%, 0%, 1);
  --font-color-two: hsla(60, 100%, 50%, 1);
}

body {
  height: 100vh;
  background: linear-gradient(142deg,#7a4040,#141c62,#d6b8d4,#84de96);

  background-size: 240% 240%;
  animation: gradient-animation 28s ease infinite;

  font-family: var(--font-secondary);
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* Menu */

main {
  margin: 0 auto;
  padding: 2rem;
  width: 70%;
  height: 100vh;

  display: flex;
  align-items: center;
}

.quizz-menu {
  background-color: var(--background-one);
  color: black;

  margin: 0 auto;
  width: 52rem;
  height: 62rem;
  
  padding: 5rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border-radius: 10%;
}

.quizz-menu h1 {
  font-size: 5rem;
  font-family: var(--font-primary);

  margin-bottom: 10rem;
}

.quizz-menu label {
  font-size: 2rem;
}

.quizz-menu form {
  display: flex;
  flex-direction: column;
  
  gap: 1rem;
}

.category-selector select {
  padding: 1rem;
  border-radius: 10%/50%;
}

.quizz-menu button {
  border-radius: 10%/50%;
  padding: 1rem;

  font-weight: 700;

  background-color: var(--background-btn);
  transition: transform 0.7s ease, background-color 0.7s ease;
}

.quizz-menu button:hover {
  font-weight: 700;
  transform: scale(1.1);
  background-color: var(--background-btn-hover);
}

/* Game */

#quizz-card {
  background-color: var(--background-one);
  color: var(--font-color-one);

  margin: 0 auto;
  width: 55rem;
  height: 65rem;
  
  padding: 5rem;

  border-radius: 10%;
}

.question-container {
  display: none;
}

.question-container.active {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  height: 90%;
}

.question-container h2 {
  font-size: 2rem;
}

.btn-answer {
  font-size: 1.6rem;
}

.btn-wrapper {
  display: flex;
  flex-direction: column;

  gap: 1rem;
}

.btn-wrapper button {
  padding: 1rem;
  border-radius: 1rem;
}

.selected {
  background-color: var(--background-btn-hover);
}

#next-question {
  display: flex;
  justify-self: center;

  padding: 1rem;
  border: 1px solid black;
  border-radius: 1.5rem;

  font-size: 1.6rem;
  color: var(--font-color-one);
  font-weight: 700;
  background-color: var(--background-btn);

  transition: all 0.7s ease;
}

#next-question:hover {
  transform: scale(1.1);
  background-color: var(--background-btn-hover);
}

.btn-answer {
  transition: all 0.7s;
}

.btn-answer:hover {
  transform: scale(1.04);
  background-color: var(--background-btn-hover);
}

/* Results */ 

#results {
  margin: 0 auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100vw;
  height: 100vh;

  gap: 4rem;

  color: var(--font-color-two);
}

h2 {
  margin-top: 1rem;
  font-size: 3rem;
}

#results p {
  font-size: 1.6rem;
}

#result-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  
  gap: 1rem;
  height: 80%;
}

.results-cards {
  background-color: var(--background-one);
  color: var(--font-color-one);

  margin: 0 auto;
  width: 40rem;
  height: 40rem;
  
  padding: 4rem;

  border-radius: 10%;
}

.result-text {
  width: 100%;
  height: 8rem;
}

.result-text h2 {
  height: 8rem;
  font-size: 1.5rem;
}

.btn-correct {
  background-color: green;
  color: white;
}

.btn-incorrect {
  background-color: red; 
  color: white;
}

.user-answer {
  outline: 3px solid rgb(248, 4, 248);
  border: solid 1px;
}

#btn-again {
  display: flex;
  justify-self: center;

  padding: 1rem;
  border: 1px solid black;
  border-radius: 1.5rem;

  color: black;
  font-weight: 700;
  background-color: var(--background-btn);

  transition: all 0.7s ease;
}

#btn-again:hover {
  transform: scale(1.1);
  background-color: var(--background-btn-hover);
}

/* Media queries */

@media (min-width: 320px) and (max-width: 450px) {
  main {
    width: 100%;
  }
  
  .question-container h2 {
    margin: 0;
    font-size: 1.4rem;
  }

  .quizz-menu {
    width: 95%;
    height: 70%;
  }

  #quizz-card {
    width: 95%;
    height: 65%;
  }

  .btn-answer, #next-question {
    font-size: 1.2rem;
  }

  #result {
    overflow-y: auto;
  }

  #result-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100vh; 
    overflow-y: auto; 
    padding: 1rem; 
    gap: 1rem; 
  }

  .results-cards {
    flex: 0 1 auto; 
    width: 30rem;
    min-height: 32rem; 
    padding: 3rem
  }
}

@media (min-width: 451px) and (max-width: 600px) {
  main {
    width: 80%;
  }

  .quizz-menu {
    width: 80%;
    height: 60%;
  }

  #quizz-card {
    width: 80%;
    height: 80%;
  }
  
  .question-container h2 {
    margin: 0;
    font-size: 1.6rem;
  }

  .btn-answer {
    font-size: 1.4rem;
  }

  #next-question {
    font-size: 1.4rem;
  }

  #result {
    overflow-y: auto;
  }

  #result-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100vh; 
    overflow-y: auto; 
    padding: 1rem; 
    gap: 1rem;
  }

  .results-cards {
    flex: 0 1 auto; 
    width: 40rem;
    min-height: 42rem; 
    padding: 3rem;
  }
}

@media (min-width: 601px) and (max-width: 1200px) {

  main {
    width: 90%;
  }

  #result-wrapper {
    display: grid;
    justify-content: space-evenly;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    overflow-y: auto;
    width: 100vw;

    gap: 3rem;
  }
  
  .results-cards {
    width: 90%;
    max-width: 38rem;
  }
}